@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: cadetblue;
    
}
div{
    margin: 60px;
	width: 800px;
}
table{

	font-size: 20px;
	background-color: white;
	text-align: center;
	width: 100%;
	border-collapse: collapse;
    box-shadow: 5px 5px 5px black;
}
th, td{
    padding: 20px;
}
thead{
	background-color: lightcoral;
    color: black;
    font-size: 25px;
}
tr:nth-child(even){
	background-color: #E4E0DC;
}
tr:hover td{
	background-color:lightgoldenrodyellow;
    color: black;
    font-weight: bolder;

}
th{
    font-family:'Dancing Script', cursive ;
}
input{
    padding: 12px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    outline: none;
}
input:hover{
    background-color: burlywood;
}
img{
    height: 260px;
    width: 260px;
    border: solid black 3px;
}